#pagerWrap{
	margin-top: 30px;
}
.pager{
    text-align: center;
}
.pager ul{
    display: inline-block;
    list-style: none;
}
.pager li,.pager .pager-group,.pager .pager-num{
    display: inline-block;
    overflow: auto;
    zoom: 1;
}
.pager li:first-child{
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    margin-left: 0px;
}
.pager li:last-child{
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.pager li,.pager .pager-group input,.pager .pager-group button{
    float: left;
    height: 34px;
    line-height: 34px;
    margin-left: -1px;
    display: inline-block;
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 0 12px;
    text-decoration: none;
    box-sizing: content-box;
    font-size: 14px;
    color: #888;
    font-family: 'Microsoft YaHei';
}
.pager li{
    cursor: pointer;
}
.pager li:hover,.pager .pager-group button:hover{
    background-color: #eee;
    border-color: #ddd;
}
.pager .disabled{
    color:#ccc;
    background-color: #eee;
    cursor: not-allowed;
}
.pager .active,.pager .active:hover{
    color: #fff;
    background-color: #337ab7;
    border-color: #337ab7;
}
.pager .pager-group input{
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    margin-left: 0;
    outline: none;
    width: 20px;
    text-align: center;
}
.pager .pager-group button{
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    padding: 0px 8px;
    cursor: pointer;
    outline: none;
}
.pager .pager-num{
    line-height: 36px;
    margin-left: 10px;
    font-size: 14px;
}