<!DOCTYPE html>
<html>
<head>
	<title>{{title}}</title>
	{{include '/include/head'}}
	<link rel="stylesheet" href="/css/index.css">
</head>
<body>
{{include '/include/nav-top'}}
{{include '/include/nav-search'}}
<div class="container">
	<div class="row">
		<div class="col-md-8 col-xs-12">
			<ul class="nav nav-pills tab-pane" id="movieTab">
				<li class="active">
					<a href="#hot-movie" data-toggle="tab">热门电影</a>
				</li>
				<li>
					<a href="#new-movie" data-toggle="tab">最新电影</a>
				</li>
			</ul>
			<div class="tab-content">
				<div class="tab-pane active fade in row" id="hot-movie">
					{{each movies}}
					<div class="col-xs-6 col-md-3">
						<a href="/movie/{{$value.id}}" class="thumbnail">
							<img src="{{$value.poster}}" alt="{{$value.title}}">
						</a>
					</div>
					{{/each}}
				</div>
				<div class="tab-pane fade clearfix" id="new-movie">
					...
				</div>
			</div>
		</div>
		<div class="col-md-4 col-xs-12">
		</div>
	</div>
</div>
</body>
</html>